.infos-bar {
    padding: 16px 24px;
    background-color: #cbe3ff60;
    display: flex;
    justify-content: space-between;

    &__image {
        max-width: 250px;
        border-radius: 50%;
    }

    &__texts {
        text-align: center;
        max-width: 50%;
        margin: auto 0;

        &__title {
            margin-bottom: 20px;
        }
        &__text {
            font-size: 18px;
        }
    }
}